1. Python version 3+
2. Pygame
	The first thing you will need to do in order to create games using Pygame is to install it on your systems. 
	To do that, you can simply use the following command:

	pip install pygame